body {
    color: rgb(153, 153, 153);
    font-family: "Helvetica Neue";
}

.bgimg {
	background: url(road-arrows.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    min-height: 700px;
}


.container {
	padding: 110px 100px 10px 100px;
	width: 700px;
	height: auto;
}


h1 {
	padding-bottom: 24px;
	font-size: 55px;
	font-variant: small-caps;
	font-weight: 600;
}

.status {
	display: inline-block;
	padding: 10px 0 10px 0;
	width: 100%;
	text-align: left;
	font-size: 20px;
	color: rgb(92, 97, 136);
	line-height: 30px;
}

#score {
	display: inline-block;
	margin: 0 170px 0 0;
}

#score p {
	display: inline-block;
}

#question {
	display: inline-block;
}

#question p {
	display: inline-block;
}

.restart {
	display: inline-block;
	float: right;
	margin: 0 94px 0 0;
	width: 57px;
	position: relative;
	border-radius: 5px;
	color: #444444;
	background-color: rgba(175, 175, 175, 0.76);
	padding: 0px 5px;
	font-size: 17px;
	line-height: 29px;
	cursor: pointer;
	text-align: center;


}

h4 {
	padding: 20px 0 13px 0;
	font-size: 28px;
	font-weight: 500;

}

ul {
	padding: 10px 0 0 42px;
}

ul li {
	padding: 2px 111px 10px 0px;
	font-size: 22px;
	font-weight: 400;
}

.option {
	opacity: 0.7;
	margin-right: 10px;
	position: relative;
	bottom: 2px;
}


.outcome {
	display: inline-block;
	padding: 25px 0 10px 42px;
	width: 100%;
	text-align: left;
	font-size: 20px;
	line-height: 30px;
}

#correct {
	display: inline-block;
	color: rgb(94, 136, 92)
}

#incorrect {
	display: inline-block;
	color: rgb(136, 92, 92);
}

#next {
	display: inline-block;
	float: right;
	margin: 0 130px 0 0;
	width: 57px;
	position: relative;
	border-radius: 5px;
	color: #444444;
	background-color: rgba(175, 175, 175, 0.76);
	padding: 0px 5px;
	font-size: 17px;
	line-height: 29px;
	cursor: pointer;
	text-align: center;
}

.correct-answer {
	color: rgb(153, 153, 153);
}

.reset {
	margin-right: 267px;
}

